@import url(../css/variaveis.css);

/* ;;;;;; COMPONENTE PARA DEIXAR O TESTO EM DESTAQUE E ITALICO */

.componente-destaque {
    /* background-color: red; */
}

.componente-destaque h1 {
    text-align: left !important;
}

.destaque-italico {
    font-style: italic;
    color: #1b4b9d !important;
    text-align: justify;
    font-weight: 600;
    width: 100%;
}

.destaque {
    color: #1b4b9d !important;
    text-align: justify;
    font-weight: 600;
    width: 100%;
}

.componente-destaque p {
    font-style: italic;
    color: #1b4b9d !important;
    text-align: justify;
    font-weight: 600;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-move {
    cursor: move;
}

.cursor-grabbing {
    cursor: grabbing;
}

.text-branco {
    color: white !important;
}

/* ;;;;;; COMPONENTE PARA DEIXAR O TESTO EM DESTAQUE E ITALICO */

/* Componentes para o SaibaMais */

.container-saibamais {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.3rem;
}

.accordion-saibamais {
    border-radius: 10px;
    width: 90%;
    background: #f88209;
    color: #444;
    cursor: pointer;
    padding: 0.5rem;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    color: white !important;
}


.active-saibamais,
.accordion-saibamais:hover {
    background-color: #ccc;
}

.panel-saibamais {
    width: 90%;
    margin-bottom: 5px;
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    /* background-color: red; */
}

.video-container {
    width: 100%;
}

.video-container iframe {
    width: 100%;
    height: 50%;
    border-radius: 0.3rem;
}


.panel-saibamais {
    display: none;
    /* Painéis começam ocultos */
    overflow: hidden;
}

.panel-saibamais p {
    text-align: justify !important;
    hyphens: auto;
}


.panel-saibamais.active-panel {
    display: flex;
    /* Exibe o painel quando ativo */
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.panel-saibamais img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.saibamais-container {
    /* width: 100%; */
    height: 100%;
    border-radius: 0.3rem;
}

.saibamais-container a {
    font-size: 1rem !important;
}

.accordion-saibamais i {
    margin-left: auto;
    transition: transform 0.3s ease;
}

.accordion-saibamais.active i {
    transform: rotate(180deg);
}

/* Componentes para o SaibaMais */

.info-box {
    background-color: var(--card-color);
    /* Cor personalizada */
    color: #fff;
    /* Texto branco */
    border-radius: 10px;
    padding: 0.2rem 0.5rem;
    margin: 0.2rem;
    transition: all 0.3s ease-in-out;
    /* Transição suave para efeitos */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra inicial */

}

.info-box h5 {
    font-weight: bold;
}

.info-box p {
    color: white !important;
    font-size: 0.8rem !important;
}

/* Efeito de hover (quando o mouse passa por cima) */
.info-box:hover {
    background-color: #0056b3;
    /* Alteração na cor de fundo ao passar o mouse */
    transform: scale(1.05);
    /* Aumenta levemente o tamanho da caixa */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Sombra mais forte ao passar o mouse */
}


.equal-height {
    display: flex;
    justify-content: center;
    align-items: stretch;
    /* Faz todos os blocos terem a mesma altura */

}



/* Componentes de referencias Bibliograficas  */

.lista-referencias-bibliograficas {
    /* background-color: red; */
    font-size: var(--font-para-paragrafos);
    text-align: left;
}


.bt-1 {
    background: #011c41;
    color: #fff;
    display: inline-block;
    transition: all .4s ease-in-out;
    transform-style: preserve-3d;
    animation-name: zoom;
    animation-duration: 3s;

}

.bt-1:hover {
    background: #024db3;
    transform: rotate3d(1, 0, 0, -360deg);
}

@keyframes zoom {
    0% {
        transform: scale(0);
    }
}

@keyframes zoom {
    100% {
        transform: scale(1)
    }
}

.bt-2 {
    background: red;
    color: #fff;
    display: inline-block;
    transition: all .4s ease-in-out;
    transform-style: preserve-3d;
    animation-name: zoom;
    animation-duration: 3s;
}

.bt-2:hover {
    background: #024db3;
    transform: rotate3d(1, 0, 0, -360deg);
}

@keyframes zoom {
    0% {

        transform: scale(0);
    }
}

@keyframes zoom {
    100% {

        transform: scale(1);
    }
}

.bt-3 {
    background: #FF8A00;
    color: #fff;
    display: inline-block;
    transition: all .4s ease-in-out;
    transform-style: preserve-3d;
    animation-name: zoom;
    animation-duration: 3s;
}

.bt-3:hover {
    background: #024db3;
    transform: rotate3d(1, 0, 0, -360deg);
}


@keyframes zoom {
    0% {
        transform: scale(0);
    }

}

@keyframes zoom {

    100% {

        transform: scale(1);
    }
}

.my-poup {

    background: #FF8A00;
}

.custom-box-red {
    background-color: #dc3545;
    /* Cor vermelha */
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    margin-top: 10px;
}

.custom-box-red p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 0;
}


.pagina-historia-alimentacao-container-titulo-intro {
    display: flex;
    /* background-color: red; */
    flex-direction: column;

}

.pagina-historia-alimentacao-container-titulo-intro h1 {
    font-size: 1.5rem;
    text-align: left;
    color: #011c41;
}


table {
    font-size: 1rem;
}


.list-group-numbered {
    counter-reset: section var(--list-start, 0) !important;
}

/* From Uiverse.io by Creatlydev */
.buttonExplorar {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    border: none;
    cursor: pointer;
    align-items: center;
    width: 100%;
    gap: 0.75rem;
    background-color: var(--clr);
    color: #fff;
    border-radius: 10rem;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    padding-left: 20px;
    white-space: nowrap;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    transition: background-color 0.3s;
}

.buttonExplorar__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: var(--clr);
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.buttonExplorar:hover {
    background-color: #000;
}

.buttonExplorar:hover .buttonExplorar__icon-wrapper {
    color: #000;
}

.buttonExplorar__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
}

.buttonExplorar:hover .buttonExplorar__icon-svg:first-child {
    transition: transform 0.3s ease-in-out;
    transform: translate(150%, -150%);
}

.buttonExplorar:hover .buttonExplorar__icon-svg--copy {
    transition: transform 0.3s ease-in-out 0.1s;
    transform: translate(0);
}


.cards-icons {
    width: 100%;
    height: fit-content;
    /* background-color: rgb(238, 238, 238); */
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    gap: 20px;
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055); */
}

/* for all social containers*/
.socialContainer {
    width: 100%;
    height: 52px;
    background-color: var(--card-color-icons);
    display: flex;
    align-items: center;
    overflow: hidden;
    transition-duration: .3s;
    border-radius: 0.2rem;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: left;
}

/* Whatsapp*/
.socialContainer:hover {
    background-color: #00000071;
    transition-duration: .3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 100px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

.container-text-icons-socialContainer {

    width: 100%;
    height: 100%;
    max-height: 100%;
    border: 5px solid var(--border-color);
    border-radius: 0.5rem;
    padding: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;

}

.container-text-icons-socialContainer>div {

    height: 250px;
    overflow: hidden;

}

.container-text-icons-socialContainer img {
    width: 50%;
}

.message-box {
    width: 100%;
    border-radius: 6px;
    margin: 20px auto;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.message-box--divisor {
    display: flex;
    align-items: center;
}

.message-box i {
    vertical-align: middle;
    padding: 8px;
}

.message-box i.exit-button {
    float: right;
    opacity: 0.4;
}

.message-box i.exit-button:hover {
    opacity: 0.8;
}

.message-text {
    text-align: left;
}

.message-box-info {
    background-color: #CDE8F6;
    border: #2697d1 2px solid;
    color: #447EAF;
}

.message-box-warn {
    background-color: #F8F4D5;
    border: #e9dd7e 2px solid;
    color: #96722E;
}

.message-box-error {
    background-color: #ECC8C5;
    border: #d37f78 2px solid;
    color: #B83C37;
}

.message-box-success {
    background-color: #DDF3D5;
    border: #9ddc86 2px solid;
    color: #597151;
}

.info-item {
    background-color: #cce5ff;
    color: #004085;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.4s;
}

.info-item:hover {
    transform: scale(1.1);
}

button.eva_button____lista {
    padding: 0.7rem !important;
}

/* Estilo base para o botão */
.eva_button____lista {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(135deg, #388e3c, #66bb6a);
    /* Gradiente verde */
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

/* Efeito ao passar o mouse */
.eva_button____lista:hover {
    background: linear-gradient(135deg, #43a047, #81c784);
    /* Gradiente verde mais claro */
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Estilo ao foco (acessibilidade) */
.eva_button____lista:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(76, 175, 80, 0.4);
    /* Borda de foco verde */
}

/* Animação ao ser clicado */
.eva_button____lista:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


.container-step {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: stretch;
    /* Garante que todos os passos tenham a mesma altura */
    width: 100%;
    /* background: #000; */

}

.step {
    flex: 1;
    margin-right: 10px;
    background: var(--color-card-step);
    color: white;
    padding: 1rem;
    border-radius: 8px;
    position: relative;
    clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 50%, calc(100% - 20px) 100%, 0 100%);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Distribui o conteúdo igualmente */
}


.step h3 {
    font-size: 1rem;
    font-weight: bold;
}

.step p {
    font-size: 1em;
    margin: 0;
}


.vision-info-box {
    background: rgb(15, 64, 122);
    background: linear-gradient(90deg, rgba(15, 64, 122, 1) 42%, rgba(37, 137, 255, 1) 100%);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 100%;

}

.componenteLivro {
    background: #f9f0d6;
    border-radius: 10px;
    color: #011c41;
}

.vision-info-box h3 {
    color: white !important;
    font-weight: 800 !important;
    font-style: italic;
}

.vision-info-box p {
    color: white !important;
}


.vision-info-box .icon {
    max-width: 200px;
    height: 200px;

}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.imgCardFlutuante {
    position: absolute;
    top: 50%;
    right: -15%;
    z-index: -2;
    transform: translate(-50%, -50%);

}

.thumbnails-container-render-content {
    height: 100%;
    /* background-color: #011c41; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

#thumbnails-container {
    /* background-color: #0056b3; */
    height: 52%;
    max-height: 30rem;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    gap: 0.5rem;
    position: relative;

}

#thumbnails-container::-webkit-scrollbar {
    display: none;
}

.thumbnail-active {
    border: 3px solid #011c41 !important;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.scroll-up {
    position: absolute;
    top: 18%;
    left: 20%;
    transform: translate(0%, -0%);
}

.scroll-down {
    position: absolute;
    bottom: 18%;
    right: 20%;
    transform: translate(0%, 0%);
}

.thumbnail {
    transition: all 0.3s ease;
    margin: 5px 0;
}


.scroll-button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    /* background-color: #222222; */
    background: none;
    /* border: 1px solid #dee2e6; */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 2;
}



.scroll-button:hover {
    background-color: #4d4d4d;
    color: #fff;
    transform: scale(1.1);
}


.card-vantagem,
.card-desvantagem {
    flex: 1;
    background-color: #0a192f;
    border-radius: 8px;
    padding: 20px;
    color: white;

}

.card-header-vantagem-desvantagem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* background-color: yellow; */
    justify-content: center;
    margin-bottom: 1rem;
}

.custom-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-icon-check {
    background-color: #22c55e;
}

.custom-icon-x {
    background-color: #ef4444;
}

.custom-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    /* background: #000; */
    margin: auto 0;

}

/* Botão de célula */
.cell-button {
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(135deg, #2d89ff, #0062cc);
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cell-button:hover {
    transform: scale(1.1);
    background: linear-gradient(135deg, #1c7df5, #004db1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Texto do botão */
.cell-text {
    z-index: 1;
    position: relative;
}

/* Efeito animado */
.cell-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
    z-index: 0;
}

.cell-button:hover::before {
    width: 200%;
    height: 200%;
}


.card-content-vantagem-desvantagem {
    display: flex;
    flex-direction: column;
    /* background-color: #2697d1; */
    margin: 0.5rem;

}

.item-vantagem-desvantagem {
    /* background-color: #22c55e; */
    display: flex;
    flex-direction: column;

    margin: 0.5rem;
}


.item-vantagem-desvantagem h3 {
    font-size: 1rem;
    /* background-color: red; */
    text-align: left;
    font-weight: bold;
    margin: 0;
}

.item-vantagem-desvantagem p {
    font-size: 0.9rem;
    line-height: 1.4;
    opacity: 0.9;
    /* background-color: green; */
    text-align: left;
}

.content-livro-action {
    /* background-color: #0056b3; */
}

.content-livro-action ul {
    font-size: var(--font-para-paragrafos);
    text-align: left;
    padding: 0 1rem 0 1rem;
}



.btn-nav-carrosel-container {
    /* background-color: #004db1; */
    position: absolute;
    display: flex;
    left: 50%;
    bottom: -30%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    /* width: 100%; */

}


.btn-nav-carrosel-sintese-unidade {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: rgb(247, 0, 0); */
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #024db3;
    transition: all 0.3s ease;

}

.btn-nav-carrosel-sintese-unidade i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f88209;
}

.indicador-carrosel-sintese-unidade {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;
    background-color: #024db3 !important;
    opacity: 0.5;
    margin: 0 5px !important;
    border: none !important;
}

.indicador-carrosel-sintese-unidade.active {
    opacity: 1;
    background-color: #f88209 !important;
}

.sinteseinner{
    height: 57vh;
}

.ateBreveFooter{
    margin: -10px 0 0 0;
}

/* Animação do timeline */
@keyframes timelineProgress {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

#timeline {
    width: 0%;
}

#timeline.pausado {
    animation-play-state: paused;
}

#timeline {
    animation: timelineProgress 10s linear forwards;
}

.lista-tipo-ul {
    text-align: left;
    font-size: var(--font-para-paragrafos);

}


.lista-tipo-ol {
    text-align: left;
    font-size: var(--font-para-paragrafos);

}

.css-button-shadow-border-sliding--sky {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    background: #0f407a;
    z-index: 1;
}

.css-button-shadow-border-sliding--sky:hover:after {
    width: 100%;
    left: 0;
}

.css-button-shadow-border-sliding--sky:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
    background-color: #2969b6;
    right: 0;
}

.css-button-shadow-border-sliding--sky:active {
    top: 2px;
}


.buttonOfTwoText {
    width: 100%;
    height: 56px;
    overflow: hidden;
    border: none;
    color: #ffffff;
    background: linear-gradient(135deg, #2d89ff, #0062cc);
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonOfTwoText>div,
.buttonOfTwoText>svg {
    position: absolute;
    width: 100%;
    display: flex;
    padding: 1rem;
}

.buttonOfTwoText:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: currentColor;
    transition: transform 0.25s ease-out;
}

.buttonOfTwoText:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
    color: #f88209;
}

.buttonOfTwoText .clone>*,
.buttonOfTwoText .text>* {
    opacity: 1;
    font-size: 1.3rem;
    transition: 0.2s;
    margin-left: 4px;
}

.buttonOfTwoText .clone>* {
    transform: translateY(60px);
}

.buttonOfTwoText:hover .clone>* {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.buttonOfTwoText:hover .text>* {
    opacity: 1;
    transform: translateY(-60px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.buttonOfTwoText:hover .clone> :nth-child(1) {
    transition-delay: 0.15s;
}

.buttonOfTwoText:hover .clone> :nth-child(2) {
    transition-delay: 0.2s;
}

.buttonOfTwoText:hover .clone> :nth-child(3) {
    transition-delay: 0.25s;
}

.buttonOfTwoText:hover .clone> :nth-child(4) {
    transition-delay: 0.3s;
}

/* icon style and hover */
.buttonOfTwoText svg {
    width: 20px;
    right: 0;
    top: 50%;
    right: 1%;
    ;
    transform: translateY(-50%) rotate(0deg);
    transition: 0.2s ease-out;

}

.buttonOfTwoText:hover svg {
    transform: translateY(-50%) rotate(-40deg);
}


.section-container {
    color: white;

}

.blood-section {
    background-color: #d9534f;
    /* Vermelho */
}

.urine-section {
    background-color: #f0ad4e;
    /* Laranja */
}

.feces-section {
    background-color: #5bc0de;
    /* Azul */
}

.fluids-section {
    background-color: #5cb85c;
    /* Verde */
}

.section-title {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    /* Centralizar o título */
}

.section-description {
    font-size: 1rem;
    text-align: justify;
    hyphens: auto;
    padding: 0 0.5rem;
}


@media (max-width: 768px) {
    .section-container {
        height: auto;
        margin: 0.5rem;
        padding: 1rem;

    }

    .section-md {
        width: 25% !important;
        /* background-color: #004db1; */
    }

    .section-title {
        font-size: 1rem;
    }

    .section-description {
        font-size: 0.9rem;
    }

}




@media screen and (min-width: 1520px) {
    .vision-info-box .icon {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 1366px) {}

@media screen and (max-width: 1200px) {
    .accordion-saibamais {
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {
    .container-step {
        flex-direction: column;
    }

    .vision-info-box {
        flex-direction: column;
        text-align: center;
    }

    .mt-md-1 {
        margin-top: 1cm !important;
    }

    .mt-md-2 {
        margin-top: 2rem !important;
    }

    .mt-md-3 {
        margin-top: 3rem !important;
    }

    .mt-md-4 {
        margin-top: 4rem !important;
    }

    .mt-md-5 {
        margin-top: 5rem !important;
    }


    .container-saibamais {
        display: flex;
    }

    .buttonExplorar {
        white-space: wrap;
    }

    .container-button {
        flex-direction: column;
        font-size: 1rem;
    }

    .mb-1 {
        margin-bottom: 1rem;
    }

    .accordion-saibamais {
        padding: 15px;
    }

    .panel-saibamais {
        padding: 0 15px;
        flex-direction: column;
    }

    .video-container iframe {
        width: 100%;
        height: 100%;
        border-radius: 0.3rem;
    }

    .socialContainer {
        flex-direction: column;
    }

    .container-text-icons-socialContainer img {
        width: 100%;
    }
    .ateBreveFooter{
        margin:10px 0 0 0 ;
    }
    .btn-nav-carrosel-container{
        height: 0%;
        bottom: -15%;
    }
    .sinteseinner{
        height: 65vh;
        overflow: hidden; 
        overflow-y: scroll !important;
    }

}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 480px) {

    .container-modal-card-horizontal-text-img {
        flex-direction: column;
        /* background-color: #004085; */
        gap: 1rem;
    }

    .container-modal-card-horizontal-text-img .imgCardFlutuante {
        all: unset;

    }

    .container-modal-card-horizontal-text-img .content-card {
        width: 100%;
    }

    .accordion-saibamais {
        padding: 12px;
    }

    .panel-saibamais {
        padding: 0 12px;
    }

    .container-livro-img-thumb-content {
        /* background-color: red; */
        overflow: hidden;
        height: 10rem;
        border-radius: 0.1rem;
    }

    .container-livro-img-thumb {
        flex-direction: column;
    }

    #thumbnails-container {
        flex-direction: row;
        overflow-x: scroll;
    }

    .scroll-up {
        position: absolute;
        left: -10%;
        top: 40%;
        transform: rotate(-90deg);
    }

    .scroll-down {

        right: -10%;
        top: 40%;
        transform: rotate(-90deg);
    }

}

@media screen and (max-width: 320px) {}

/* Quando Estiver na Resolução 1042 * 389 */